## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/libexec/anon-connection-wizard/anon-connection-wizard
Name=Anon Connection Wizard
GenericName=Anon Connection Wizard
Comment=Tor Connection Configuration
Categories=System;
Icon=/usr/share/anon-connection-wizard/advancedsettings.ico
## Because we need a wrapper to start it.
X-KDE-StartupNotify=false
Keywords=system;Whonix;setup;connection;Tor;Anon;
X-Desktop-File-Install-Version=0.22
