<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Kicksecure</vendor>
  <vendor_url>https://www.kicksecure.com/</vendor_url>

  <action id="com.kicksecure.anon-connection-wizard.restart-tor">
    <description>Restart Tor</description>
    <message>Authentication is required to restart Tor (the tor@default service)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/anon-connection-wizard/acw-tor-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">restart</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.reload-tor">
    <description>Reload Tor</description>
    <message>Authentication is required to reload Tor (the tor@default service)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/anon-connection-wizard/acw-tor-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">reload</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.stop-tor">
    <description>Stop Tor</description>
    <message>Authentication is required to stop Tor (the tor@default service)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/anon-connection-wizard/acw-tor-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">stop</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.status-tor">
    <description>Status of Tor</description>
    <message>Authentication is required to check the status of Tor (the tor@default service)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/anon-connection-wizard/acw-tor-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">status</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.tor-config-sane">
    <description>Check if Tor configuration is sane</description>
    <message>Authentication is required to for anon-connection-wizard (/usr/libexec/anon-gw-anonymizer-config/tor-config-sane)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/anon-gw-anonymizer-config/tor-config-sane</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.edit-etc-resolv-conf-add">
    <description>edit-etc-resolv-conf-add</description>
    <message>Authentication is required for anon-connection-wizard (add to /etc/resolv.conf)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/anon-dns</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">add</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.edit-etc-resolv-conf-remove">
    <description>edit-etc-resolv-conf-remove</description>
    <message>Authentication is required for anon-connection-wizard (remove from /etc/resolv.conf)</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/anon-dns</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">remove</annotate>
  </action>

  <action id="com.kicksecure.anon-connection-wizard.acw-write-torrc">
    <description>acw-write-torrc</description>
    <message>Authentication is required for anon-connection-wizard writing Tor configuration</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/anon-connection-wizard/acw-write-torrc</annotate>
  </action>

</policyconfig>

<!--
SECURITY: <allow_any>yes</allow_any> is being used to avoid to spam the user with too many prompts.

The problem is that PolicyKit does support multiple commands for the same action, which then results
in several prompts.

Since ACW is primarily used on Whonix-Gateway and not on Whonix-Workstation, this is OK.

Maybe in the future, something similar to this could be used:
'auth_admin_keep' instead of 'yes' and the following file:
/usr/share/polkit-1/rules.d/com.kicksecure.anon-connection-wizard.rules
with the following content (UNTESTED!):

var actions = [
    "com.kicksecure.anon-connection-wizard.restart-tor",
    "com.kicksecure.anon-connection-wizard.stop-tor",
    "com.kicksecure.anon-connection-wizard.status-tor",
    "com.kicksecure.anon-connection-wizard.tor-config-sane",
    "com.kicksecure.anon-connection-wizard.edit-etc-resolv-conf-add",
    "com.kicksecure.anon-connection-wizard.edit-etc-resolv-conf-remove",
    "com.kicksecure.anon-connection-wizard.acw-write-torrc"
];

var lastAuthenticationTime = null;

polkit.addRule(function(action, subject) {
    if (actions.indexOf(action.id) !== -1) {
        var currentTime = new Date().getTime();

        // If there's been a recent authentication (e.g., within the last 60 seconds), allow the action.
        if (lastAuthenticationTime && (currentTime - lastAuthenticationTime < 60000)) {
            return polkit.Result.YES;
        } else {
            // Otherwise, if this is the first action, update the lastAuthenticationTime and prompt for authentication.
            lastAuthenticationTime = currentTime;
            return polkit.Result.AUTH_ADMIN;
        }
    }
});
-->
