## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-connection-wizard
Section: misc
Priority: optional
Maintainer: Iry Koon <irykoon@riseup.net>
Uploaders: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, ruby-ronn (>= 0.7.3), python3
Homepage: https://www.whonix.org/
Vcs-Browser: https://github.com/troubadoour/anon-connection-wizard
Vcs-Git: https://github.com/troubadoour/anon-connection-wizard.git
Standards-Version: 3.9.6

Package: anon-connection-wizard
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-yaml,
 python3-guimessages, python3
Recommends: anon-icon-pack
Description: First Time Connection Setup
 When the gateway starts for the first time, it won't automatically connect to
 the public Tor network. This is useful for users who want to hide Tor from
 their ISP. anon-connection-wizard is automatically started, which let the
 user choose from  different methods to connect (public Tor network,
 bridges, etc.).
 The wizard can be run at any time to change the connection configuration.
