## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: anon-connection-wizard
Section: misc
Priority: optional
Maintainer: iry <iry@riseup.net>
Uploaders: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), python3
Homepage: https://www.kicksecure.com/wiki/Anon_Connection_Wizard
Vcs-Browser: https://github.com/Kicksecure/anon-connection-wizard
Vcs-Git: https://github.com/Kicksecure/anon-connection-wizard.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: anon-connection-wizard
Architecture: all
Depends: helper-scripts,
         pkexec,
         policykit-1-gnome | polkit-1-auth-agent,
         privleap,
         python3,
         python3-pyqt5,
         python3-stem,
         python3-yaml,
         qtwayland5,
         ${misc:Depends}
Recommends: obfs4proxy, tor
Description: Tor Connection Configuration (ACW)
 WARNING: Not (yet) a standalone ready to use outside of Whonix:
 .
 Creates a Tor settings file:
 `/usr/local/etc/torrc.d/40_tor_control_panel.conf`
 .
 anon-connection-wizard (ACW) is a Tor-launcher-like application that helps
 users in different Internet environment connect to the Tor network.
 It helps user to configure Tor to use a proxy and/or Tor bridges.
 This application is especially useful for system Tor users who would like
 to run the standalone core Tor with different torified applications.
 The wizard can be run at any time to change the connection configuration.
 .
 Creates a Tor settings file:
 `/usr/local/etc/torrc.d/40_tor_control_panel.conf`
 .
 anon-connection-wizard is produced independently from the Tor anonymity
 software and carries no guarantee from The Tor Project about quality,
 suitability or anything else.
